<?php include("DBconnection.php");?>
<!doctype html>
<html ng-app>
<head>
<meta charset="utf-8">
<title>CATAPI</title>
<style>
.field {text-align:right; line-height:25px;padding-right:100px;}
label {float:left; background:darkmagenta;color:white;font-weight:bold;}
.main {float:left;}
#zapros1{visibility:hidden;}
input[type=submit],[type=button] {
color:white;
font-weight:bold;
    padding:5px 15px; 
    background:blue; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
#f{
background:lightgreen; 
align:right;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
function SetAnd()
{
 var radio1=document.getElementById('I');
 var radio2=document.getElementById('ILI');
 if(true==radio1.checked)
 {
    radio2.checked=false;
 }
}
function SetOr()
{
 var radio1=document.getElementById('I');
 var radio2=document.getElementById('ILI');
 if(true==radio2.checked)
 {
    radio1.checked=false;
 }
}
function ActGet()
{
var forma=document.getElementById('f');
forma.action="Get.php";
}
function ActInsert()
{
var forma=document.getElementById('f');
forma.action="Insert.php";
}
function ActDelete()
{
var forma=document.getElementById('f');
forma.action="Delete.php";
}
function ActChange()
{
   var _id=document.getElementById('_id');
   var  _name=document.getElementById('NAME');
   var _age=document.getElementById('age');
   var _spec=document.getElementById('spec');
   var _color=document.getElementById('clr');
   
   _id.style.backgroundColor = "yellow";
   _name.style.backgroundColor = "yellow";
   _age.style.backgroundColor = "yellow";
   _spec.style.backgroundColor = "yellow";
   _color.style.backgroundColor = "yellow"; 
   
   var lid=document.getElementById('zid');
   var lname=document.getElementById('zname');
   var lage=document.getElementById('zage');
   var lspec=document.getElementById('zspec');
   var lcolor=document.getElementById('zcolor');
   
   lid.value=_id.value;
   lname.value=_name.value;
   lage.value=_age.value;
   lspec.value=_spec.value;
   lcolor.value=_color.value;alert(sql);
}
function ActUpdate()
{
var cId=document.getElementById('chId');
var cName=document.getElementById('chName');
var cAge=document.getElementById('chAge');
var cSpec=document.getElementById('chSpec');
var cColor=document.getElementById('chColor');

 var forma=document.getElementById('f');
 var radio1=document.getElementById('I');
 
 var newid=document.getElementById('_id');
   var newname=document.getElementById('NAME');
   var newage=document.getElementById('age');
   var newspec=document.getElementById('spec');
   var newcolor=document.getElementById('clr');
  
   newid.style.backgroundColor = "white";
   newname.style.backgroundColor = "white";
   newage.style.backgroundColor = "white";
   newspec.style.backgroundColor = "white";
   newcolor.style.backgroundColor = "white";
    
    var lid=document.getElementById('zid');
   var lname=document.getElementById('zname');
   var lage=document.getElementById('zage');
   var lspec=document.getElementById('zspec');
   var lcolor=document.getElementById('zcolor');
   
   var sql="UPDATE cats SET ID='"+newid.value+"',Name='"+newname.value+"',Age='"+newage.value+"',Species='"+newspec.value+"',Color='"+newcolor.value+"'";
 
	//ID
        sql+=" WHERE ID='"+lid.value+"'";
	//Name
	if (cName.checked) 
	{
	if(radio1.checked)
	{
           sql+=" AND Name='"+lname.value+"'";
        }
	else
	{
	   sql+=" OR Name='"+lname.value+"'";
	}
	}
	//Age
	if (cAge.checked) 
	{
	if(radio1.checked)
	{
           sql+=" AND Age='"+lage.value+"'";
        }
	else
	{
	   sql+=" OR Age='"+lage.value+"'";
	}
	}
	//Species
	if (cSpec.checked) 
	{
	if(radio1.checked)
	{
           sql+=" AND Species='"+lspec.value+"'";
        }
	else
	{
	   sql+=" OR Species='"+lspec.value+"'";
	}
	}
	//Color
	if (cColor.checked) 
	{
	if(radio1.checked)
	{
           sql+=" AND Color='"+lcolor.value+"'";
        }
	else
	{
	   sql+=" OR Color='"+lcolor.value+"'";
	}
	}
	var z=document.getElementById('zapros1');
	z.value=sql;
	//alert(sql);
    forma.action="Update.php";
}
function selall()
{
document.getElementById('chId').checked=true;
document.getElementById('chName').checked=true;
document.getElementById('chAge').checked=true;
document.getElementById('chSpec').checked=true;
document.getElementById('chColor').checked=true;
}
function resetall()
{
document.getElementById('chId').checked=false;
document.getElementById('chName').checked=false;
document.getElementById('chAge').checked=false;
document.getElementById('chSpec').checked=false;
document.getElementById('chColor').checked=false;
}
</script>
</head>
<body>
<h1>Cats Database</h1>
<div  class="main" ng-app="myApp" ng-controller="formCtrl">
  <form id="f" method="POST">
     <input type="submit" ng-model="bIns" onclick="ActInsert()" value="INSERT">
     <input type="submit" ng-model="bGet" onclick="ActGet()" value="GET">
     <input type="button" ng-model="bChn" onclick="ActChange()" value="CHANGE">
     <input type="submit" ng-model="bUpd" onclick="ActUpdate()" value="UPDATE">
     <input type="submit" ng-model="bDel" onclick="ActDelete()" value="DELETE">
     <br/><br/>
    <div class="field"><label > &nbsp &nbsp &nbsp  ID &nbsp &nbsp &nbsp &nbsp </label> <input align="center" id="_id" name="_ID" type="number" min="1" ng-model="user.ID">
    <input type="checkbox" id="chId" name="chId" ng-model="myVar1"></div>
    <br/><br/>
    
    <div class="field"><label>&nbsp &nbsp Name &nbsp &nbsp </label><input align="center" id="NAME" type="text" name="_Name" ng-model="user.Name">
    <input type="checkbox" id="chName" name="chName" ng-model="myVar2"></div>
    <br/><br/>
    
    <div class="field"><label>&nbsp &nbsp &nbsp Age  &nbsp &nbsp &nbsp </label><input align="center" id="age" type="text" name="_Age" ng-model="user.Age">
    <input type="checkbox" id="chAge" name="chAge" ng-model="myVar3"></div>
    <br/><br/>
    
    <div class="field"><label> &nbsp &nbsp Species &nbsp </label><input align="center" id="spec" type="text" name="_Species" ng-model="user.Species">
    <input type="checkbox" id="chSpec" name="chSpec" ng-model="myVar4"></div>
    <br/><br/>
    
    <div class="field"><label> &nbsp &nbsp Color &nbsp &nbsp </label><input align="center" id="clr" type="text" name="_Color" ng-model="user.Color">
    <input type="checkbox" id="chColor" name="chColor" ng-model="myVar5"></div><br/>
    <input type="button" id="bALL" onclick="selall()" name="bALL" ng-model="myVar6" value="Select All Fields">
    <input type="button" id="bResALL" onclick="resetall()" name="bResALL" ng-model="myVar7" value="Reset All Checked Fields">
    <br/><br/>
    
    <br/>
    <input type="radio" name="rAND" id="I" onclick="SetAnd()" ng-model="rAnd">AND</input>
    <input type="radio" name="rOR" checked id="ILI" onclick="SetOr()" ng-model="rOr">OR</input>
    <br/><br/>
    <input type="text" id="zapros1" name="zapros1">
    <label value="" id="zid" name="zid"></label>
    <label value="" id="zname" name="zname"></label>
    <label value="" id="zage" name="zage"></label>
    <label value="" id="zspec" name="zspec"></label>
    <label value="" id="zcolor" name="zcolor"></label>
  </form>
</div>
</body>
</html>